@import '../../../styles/settings.scss';

.root {
  font-family: Roboto;
  color: grey;
}
.paper {
  height: 200px;
  width: 100%;
  text-align: center;
  padding-top: 70px;
  font-size: 30px;
  color: grey;
  font-family: Roboto;
}
