@import '../../../styles/settings.scss';

.component {
  font-family: Roboto;
  color: grey;
  text-align: center;
}

.root {
  min-width: 300px;
  text-align: left;
  margin-bottom: 20px;
}

.table {
  background-color: #c7c7c7;
}

.remote {
  background-color: #82f8b7;
}

.title {
  font-size: 14;
}

.order {
  display: flex;
  margin-bottom: -20px;
  .each {
    margin: 20px;
    width: 20%;
    height: 200px;
    padding: 10px;
  }
}

.switch {
  margin-left: 10px;
  text-align: center;
  line-height: 40px;
}
